.details {
  padding: 32px 24px;
}

.details h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.details h2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3125px;
}

.details h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.details p {
  font-size: 12px;
  letter-spacing: -0.229167px;

  color: #7e88c3;
}

/* STATUS */
.details__status {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #ffffff; */
  flex: 1;
}

.details__status p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #858bb2;
}

.details__status .tag {
  padding: 12px 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details__status > ul {
  width: 150px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.details__status .tag li {
  list-style-position: inside;
  list-style-position: inside;
}

.details__status .tag--success {
  color: #33d69f;
}

.details .tag__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  opacity: 0.06;
  border-radius: 6px;
}

.details .tag__bg--success {
  background: #33d69f;
}

.details__action-buttons {
  display: none;
}

.details__actions {
  margin-top: 24px;
}

/* MAIN */
.details__main {
  margin-top: 16px;
}

.details__main--1 > div {
  margin-bottom: 30px;
}

.details__main--2-sub {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.details__main--2-sub > div > div:last-child {
  margin-top: 10px;
}

.details__total--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.details__grand-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background: #373b53;
  border-radius: 0px 0px 8px 8px;
  color: #ffffff;
}

.details__footer--mobile,
.details__footer {
  margin-top: 40px;
  background: #f9fafe;
  border-radius: 8px 8px 8px 8px;
}

.details__action-buttons--mobile {
  padding: 21px 24px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.details__footer {
  width: 100%;
}

.details__footer,
.details__grand-total--desktop {
  display: none;
}

.details__footer td:not(:first-child) {
  text-align: right;
}

.details__footer tbody td {
  padding-top: 32px;
}

/* DRAWER */
.drawer {
  position: relative;
  position: absolute;
  z-index: 2;
  transform: translateX(-150%);
  transition: transform ease-out 0.5s;
  border-radius: 0px 20px 20px 0px;
  overflow: scroll;
  height: calc(100vh - 72px);
}

.drawer > .action-buttons {
  position: sticky;
  width: 100%;
  bottom: 0;
  padding: 31px 56px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
}

.drawer > .xdark {
      border: none;
      background: #141625;
      color: white;
}

.drawer > .action-buttons--new {
  justify-content: space-between;
}

#overlay {
  width: 100vw;
  height: calc(100vh - 72px);
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1;
  display: none;
}

.modal {
  background-color: #ffffff;
  position: absolute;
  z-index: 3;
  margin: 300px 42px;
  padding: 32px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  display: none;
}

.modal h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #0c0e16;
  margin-bottom: 13px;
}

.modal p {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.25px;
  color: #888eb0;
  margin-bottom: 16px;
}
.modal .action-buttons {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .modal h1 {
    font-size: 20px;
  }

  .modal p {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.25px;
  }

  .drawer > .action-buttons {
    padding: 21px 24px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .details__footer {
    display: inline-table;
    padding: 24px;
  }

  .details__grand-total--desktop {
    display: flex;
  }
  .details__footer--mobile {
    display: none;
  }
  .details__action-buttons {
    display: block;
  }
  .details__actions {
    display: flex;
    justify-content: space-between;
  }

  .details__actions p {
    margin-right: 8px;
  }

  .details__status {
    justify-content: flex-start;
  }

  .details__action-buttons--mobile {
    display: none;
  }

  .details__main--1 {
    display: flex;
    justify-content: space-between;
  }

  .details__main--2 {
    display: flex;
    justify-content: space-between;
  }

  .details__main--2 > div:last-child {
    margin-right: 97px;
  }

  .details__main--2-sub > div:first-child {
    margin-right: 100px;
  }

  .drawer {
    display: block;
    position: absolute;
    z-index: 2;
    transform: translateX(-150%);
    transition: transform ease-out 0.5s;
    border-radius: 0px 20px 20px 0px;
    overflow: scroll;
    overflow: hidden;
    height: calc(100vh - 72px);
  }

  .details__footer,
  .details__grand-total {
    font-size: 12px;
  }

  .details__main {
    padding: 48px !important;
  }
}

@media screen and (min-width: 1440px) {
  .drawer,
  #overlay {
    height: 100%;
  }

  .details__footer {
    margin-top: 25px;
  }

  .details {
    height: 100vh;
    overflow: scroll;
  }
}

.details .dark, .main .dark, #dark {
  background: #1E2139;
  color: #ffffff;
}

.details .lightdark {
  background: #252945;
}

