/* INVOICES HEADER */

.invoices__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}

.invoices__header h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.625px;
  color: #0c0e16;
}

.invoices--sub {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
}

.btn__actions {
  display: flex;
}

.filter {
  display: flex;
  align-items: center;
}

.filter p {
  margin-right: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.filter img {
  object-fit: contain;
}

.btn--add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7c5dfa;
  margin-left: 18px;
  padding: 6px;
  padding-right: 18px;
  border-radius: 24px;
}

.btn--add > div:first-child {
  width: 32px;
  height: 32px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.btn--add p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: -0.25px;

  color: #ffffff;
  margin-left: 8px;
}

/* INVOICES  LIST AND CARD COMPONENTS */

.invoice__item {
  margin-bottom: 16px;
  background: white;
  padding: 24px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.1);
}

.invoice__item--gray {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: -0.25px;

  color: #7e88c3;
}

.invoice__item div {
  display: flex;
  justify-content: space-between;
}

.invoice__item--id {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.invoice__item--name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  color: #858bb2;
}

.invoice__status {
  margin-top: 24px;
  align-items: center;
}

.invoice__status > div {
  flex-direction: column;
}

.invoice__status--date {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
}

.invoice__status--price {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
  color: #0c0e16;
}

.tag {
  width: 104px;
  height: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag li {
  list-style-position: inside;
  width: 100%;
  margin: auto;
  text-align: center;
  z-index: 0;
}

.tag--success {
  color: #33d69f;
}

.tag--pending {
  color: #ff8f00;
}

.tag--draft {
  color: black;
}

.tag__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  opacity: 0.06;
  border-radius: 6px;
  z-index: 0;
}

.tag__overlay--pending {
  background: #ff8f00;
}

.tag__overlay--success {
  background: #33d69f;
}

.tag__overlay--draft {
  background: #373b53;
}

/* MISSING DATA */

.container__missing-data {
  margin-top: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container__missing-data h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.625px;
  color: #0c0e16;
  margin: 25px 70px;
}

.container__missing-data > p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #888eb0;
  margin-left: 70px;
  margin-right: 70px;
}

/* DETAILS */

.details-container > div > div > div > .title {
  margin-bottom: 12px;
}

.details-container .bold {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: #0c0e16;
}

.address > p {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px;
  color: #7e88c3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.invoice__details > div > div {
  margin-top: 12px;
}

.price-container {
  background: #f9fafe;
  border-radius: 8px 8px 0px 0px;
  padding: 24px 24px 24px 24px;
}

.price-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.price__quantity {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
}

.price__total {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.grand-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background: #373b53;
  border-radius: 0px 0px 8px 8px;
}

.grand-total__title {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px;
  color: #ffffff;
}

.grand-total__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: right;
  letter-spacing: -0.416667px;
  color: #ffffff;
}

/* FORM */

.invoice-form > div:first-child {
  padding: 0px 24px 0px 24px;
  background-color: white;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 24px;
}

.invoice-form > div:last-child {
  padding: 24px;
  display: flex;
  justify-content: flex-end;
  background: white;
}

.invoice-form h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #0c0e16;
  margin-bottom: 24px;
}

.invoice-form h2 {
  margin-top: 66px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.375px;
  color: #777f98;
}

.invoice-form h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7c5dfa;
  margin-bottom: 24px;
}
input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #dfe3fa;
  border-radius: 4px;
}

input[type="number"] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #dfe3fa;
  border-radius: 4px;
}

label,
input {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
  display: block;
}

.invoice-form img {
  object-fit: contain;
}

.drawer {
  display: none;
}

.drawer-container {
  /* display: none; */
}

/* TABLET */
@media screen and (min-width: 768px) {
  .invoice-form {
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    display: none;
  }
  .invoice__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .invoice__status--date {
    margin-bottom: 0;
  }

  .invoice__item--id,
  .invoice__status--price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.8px;
    color: #0c0e16;
  }

  .status > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .status > div > p {
    margin-right: 15px;
  }

  .action-buttons button {
    margin-left: 10px;
  }

  .details-main-container,
  .relative {
    position: relative;
  }

  .details-container__first {
    display: flex;
    justify-content: space-between;
  }

  .details {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  .details > div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .section {
    margin: 0;
  }

  .details > div:first-child > div {
    margin-bottom: 32px;
    justify-content: space-between;
  }

  .details > div:first-child > div > div {
    flex: 1;
  }

  .details > div:first-child + div {
    align-items: center;
  }

  .drawer-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .drawer-content-container {
    position: relative;
    /* border: 1px solid red; */
      /* height: calc(100vh - 72px); */
      /* overflow: scroll; */
  }

  /* .relative {
    position: relative;
  } */
}
