button {
    cursor: pointer;
}

.primary:hover {
    background-color: #9277FF !important;
}

.secondary:hover {
    background-color: #DFE3FA !important;
}

.danger:hover {
    background-color: #FF9797 !important;
}

/* .dark:hover {
    background-color: #373B53 !important;
    color: #DFE3FA !important;
} */

.form-container .back-btn {
    padding-top: 2rem;
    padding-left: 1.5rem;
    background-color: #ffffff;
}

.back-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
cursor: pointer;
    /* TEXT */
    font-weight: 700;
    font-size: .75rem;
    line-height: .9375rem;
    letter-spacing: -0.0156rem;
}

.back-btn>img {
    margin-right: 1.5rem;
}

@media screen and (min-width: 48rem) {
    .form-container .back-btn {
        display: none;
        }
}