.card {
  box-shadow: 0rem .625rem .625rem -0.625rem rgba(72, 84, 159, 0.100397);
  border-radius: .5rem;
  background: #ffffff;
  padding: 1.5rem;
}

.invoices {
  color: #0c0e16;
  padding: 2rem 1.5rem;
}

.invoices__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoices__header--left h1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.375rem;
  letter-spacing: -0.0391rem;
}

.invoices__header--left p {
  font-weight: 500;
  font-size: .75rem;
  line-height: .9375rem;
  letter-spacing: -0.0156rem;
  color: #888eb0;
}

.invoices__header--left > p:last-child {
  display: none;
}

@media screen and (min-width: 48rem) {
  .invoices__header--left>p:last-child {
      display: block;
    }

    .invoices__header--left > #invoice__header-text--mobile {
      display: none;
    }
}

.invoices__header--right {
  display: flex;
}

.invoices .filter__button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* TEXT */
  font-weight: 700;
  font-size: .75rem;
  line-height: .9375rem;
  text-align: right;
  letter-spacing: -0.0156rem;
  position: relative;
}

.invoices .filter__button img {
  object-fit: contain;
  margin-left: .75rem;
}

.invoices .filter__dropdown {
  /* width: 100%; */
  /* border: .0625rem solid red; */
  position: absolute;
  bottom: -9.375rem;
  left: -3.125rem;
  z-index: 1;
  box-shadow: 0rem .625rem .625rem -0.625rem rgba(72, 84, 159, 0.100397);
    border-radius: .5rem;
    /* background: #ffffff; */
    padding: 1.5rem;
    cursor: default;
    padding-right: 6.25rem;
}

.invoices .filter__dropdown .bg__filter--dark {
    background: #252945;
}

.invoices .bg__filter--light {
  background: #ffffff;
}

#close {
  /* border: .0625rem solid red; */
  text-align: left;
}

#filter-dropdown {
    display: none;
}

.invoices .filter__dropdown label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .invoices .filter__dropdown .bg--dark {
  background: #1E2139 !important;
} */
.invoices .filter__dropdown input {
  margin: .625rem;
}

.invoices .new__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7c5dfa;
  color: white;
  padding: .375rem .9375rem .375rem .375rem;
  border-radius: 1.5rem;
  margin-left: 1.5rem;

  /* TEXT */
  font-weight: 700;
  font-size: .75rem;
  line-height: .9375rem;
  letter-spacing: -0.0156rem;
}

.invoices .new__button img {
  background-color: white;
  border-radius: 100%;
  padding: .6875rem;
  margin-right: .5rem;
}

/* MAIN CONTENT */
.invoices__empty {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invoices__empty h1, .invoices__empty p {
  margin-top: 1.5625rem;
}

.invoices__empty img {
  margin-top: 9.375rem;
}

.invoices__main {
  margin-top: 2rem;
}

.invoice__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "id id name name"
    "date date tag tag"
    "price price tag tag";
  font-size: .75rem;
  background: #ffffff;
  box-shadow: 0rem .625rem .625rem -0.625rem rgba(72, 84, 159, 0.100397);
  border-radius: .5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.invoice__card--item1 {
  grid-area: id;
  font-weight: 700;
  font-size: .75rem;
  line-height: .9375rem;
  letter-spacing: -0.0156rem;
}

.invoice__card--item2 {
  grid-area: date;
  font-weight: 500;
  line-height: .9375rem;
  letter-spacing: -0.0156rem;
  color: #7e88c3;
}

.invoice__card--item3 {
  grid-area: price;
  padding-top: .3125rem;
  font-weight: 700;
}

.invoice__card--item4 {
  grid-area: name;
  text-align: right;
}

.invoice__card--item5 {
  grid-area: tag;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tag li {
  list-style-position: inside;
}

.tag--success {
  color: #33d69f;
}

.tag--pending {
  color: #ff8f00;
}

.tag--neutral {
  color: #373b53;
}

.tag--neutral--dark {
  color: #ffffff;
}

.tag__bg--success {
  background: #33d69f;
}

.tag__bg--pending {
  background: #ff8f00;
}

.tag__bg--neutral {
  background: #373b53;
}

.tag__bg--neutral--dark {
  background: #DFE3FA;
} 

.tag__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  opacity: 0.06;
  border-radius: .375rem;
}

.invoice__card img {
  display: none;
}

@media screen and (min-width: 48rem) {
  .container {
    padding: 3.5rem 3rem;
  }
  .invoice__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .invoice__card p,
  .invoice__card ul {
    /* border: .0625rem solid red; */
    flex: 1;
    text-align: center;
    /* min-width: 6.5rem; */
  }

  .invoice__card ul {
    margin-right: 1.25rem;
  }

  .invoice__card--item5 {
    padding: .8125rem 1.875rem;
  }

  .invoice__card img {
    display: block;
    float: right;
  }
}

@media screen and (min-width: 90rem) {
  .invoices {
    padding-left: 15.75rem;
    padding-right: 15.75rem;
    height: 100vh;
    overflow: scroll;
  }

  .invoices__header--left h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.0625rem;
  }

  .invoices__header--left p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.2496px;
  }
}

.text--dark {
  color: #ffffff;
}

.bg--dark {
    background: #1E2139;
}

.bg__filter--dark {
  background: #252945;
}
