/* INVOICES HEADER */

.invoices__header {
  /* margin: 32px 24px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoices__header h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.625px;
  color: #0c0e16;
}

.invoices--sub {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
}

.btn__actions {
  display: flex;
}

.filter {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.filter p {
  margin-right: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  text-align: right;
  letter-spacing: -0.25px;

  color: #0c0e16;
}

.filter img {
  object-fit: contain;
}

.btn--add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7c5dfa;
  margin-left: 18px;
  padding: 6px;
  padding-right: 18px;
  border-radius: 24px;
}

.btn--add > div:first-child {
  width: 32px;
  height: 32px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.btn--add p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: -0.25px;

  color: #ffffff;
  margin-left: 8px;
}

/* INVOICES  LIST AND CARD COMPONENTS */

.invoice__item {
  margin-bottom: 16px;
  background: white;
  padding: 24px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.1);
}

.invoice__item div {
  display: flex;
  justify-content: space-between;
}

.invoice__item--id {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: -0.25px;

  color: #0c0e16;
}

.invoice__item--name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  text-align: right;
  letter-spacing: -0.25px;

  color: #858bb2;
}

.invoice__status {
  margin-top: 24px;
  align-items: center;
}

.invoice__status > div {
  flex-direction: column;
}

.invoice__status--date {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: -0.25px;

  color: #888eb0;
}

.invoice__status--price {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.8px;

  color: #0c0e16;
}

.tag {
    width: 104px;
    height: 40px;
    font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height, or 125% */
    
        letter-spacing: -0.25px;
        position: relative;
}

.tag li {
    list-style-position: inside;
    width: 100%;
    margin: auto;
    text-align: center;
}

.tag--success {
  color: #33d69f;
}

.tag--pending {
    color: #FF8F00;
}

.tag--draft {
    color: black;
}

.tag__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;
    opacity: 0.06;
    border-radius: 6px;
}

.tag__overlay--pending {
    background: #FF8F00;
}

.tag__overlay--success {
    background: #33D69F;
}

.tag__overlay--draft {
    background: #373B53;
}
