.form {
  background-color: #ffffff;
  padding: 1.5rem;
}

.form h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.0313rem;
  color: #0c0e16;
  margin-bottom: 1.5rem;
}

.form h2 {
  margin-top: 4.125rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: -0.0234rem;
  color: #777f98;
}

.form h3 {
  font-weight: 700;
  font-size: .75rem;
  line-height: .9375rem;
  letter-spacing: -0.0156rem;
  color: #7c5dfa;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 1.0625rem 1.25rem;
  margin: .5rem 0;
  box-sizing: border-box;
  border: .0625rem solid #dfe3fa;
  border-radius: .25rem;
  background-color: transparent;
}

input[type="number"] {
  width: 90%;
  padding: 1.0625rem 1.25rem;
  margin: .5rem 0;
  box-sizing: border-box;
  border: .0625rem solid #dfe3fa;
  border-radius: .25rem;
}

label,
input {
  font-weight: 500;
  font-size: .75rem;
  line-height: .9375rem;
  letter-spacing: -0.0156rem;
  color: #7e88c3;
  display: block;
}

.form img {
  object-fit: contain;
}

/* BILL FROM */
.form__bill-from {
  display: grid;
  gap: 1.4375rem;
  grid-template-areas:
    "address adress"
    "city zip"
    "country country";
}

.form__bill-from .form__item-1 {
  grid-area: address;
}

.form__bill-from .form__item-2 {
  grid-area: city;
}

.form__bill-from .form__item-3 {
  grid-area: zip;
}

.form__bill-from .form__item-4 {
  grid-area: country;
}

/* BILL TO */
.form__bill-to {
  display: grid;
  gap: 1.4375rem;
  grid-template-areas:
    "name name"
    "email email"
    "address address"
    "city zip"
    "country country"
    "date date"
    "terms terms"
    "desc desc";
}

.form__bill-to .form__item-1 {
  grid-area: name;
}

.form__bill-to .form__item-2 {
  grid-area: email;
}
.form__bill-to .form__item-3 {
  grid-area: address;
}
.form__bill-to .form__item-4 {
  grid-area: city;
}
.form__bill-to .form__item-5 {
  grid-area: zip;
}
.form__bill-to .form__item-6 {
  grid-area: country;
}
.form__bill-to .form__item-7 {
  grid-area: date;
}
.form__bill-to .form__item-8 {
  grid-area: terms;
}
.form__bill-to .form__item-9 {
  grid-area: desc;
}

/* ITEM LIST */

.form__item-list {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "name name name name"
    "qty price total trash";
}

.form__item-list .form__item-1 {
  grid-area: name;
}

.form__item-list .form__item-2 {
  grid-area: qty;
}

.form__item-list .form__item-3 {
  grid-area: price;
}

.form__item-list .form__item-4 {
  grid-area: total;
}

.form__item-list .form__item-4 input {
  border: none;
}

.form__item-list .form__item-5 {
  grid-area: trash;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */

.form button {
  width: 100%;
  /* margin-top: 3rem; */
}

@media screen and (min-width: 48rem) {
  .form__bill-from {
    grid-template-areas:
      "address address address"
      "city zip country";
  }

  .form__bill-to {
    grid-template-areas:
      "name name name name"
      "email email email email"
      "address address address address"
      "city zip country country"
      "date terms terms terms"
      "desc desc desc desc";
  }

  .form__item-list {
    display: flex;
  }
}

/* @media screen and (min-width: 48rem) { */
  .form-container {
    height: calc(100vh - 10.3125rem);
    overflow: scroll;
    /* scrollbar-color: white; */
  }
/* } */

@media screen and (min-width: 90rem) {
  .form-container {
    /* border: .0625rem solid red; */
    /* position: absolute; */
    height: calc(100vh - 5.625rem);
    overflow: scroll;
  }

  .form h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.0313rem;
    color: #0c0e16;
    margin-bottom: 1.5rem;
  }

  .form h2 {
    margin-top: 4.125rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: -0.0234rem;
    color: #777f98;
  }
}

.xdark {
    border: none;
      background: #1E2139 !important;
      color: white;
}

.bg--xdark {
  background: #141625;
}

.bg--xdark > h1 {
  color: white;
}

.bg--xdark .xdark {
      border: none;
        background: #1E2139;
        color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#add {
  margin-top: .625rem;
}
